<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>自我介紹</title>
</head>

<div class="jumbotron text-center"> 
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><h1><font size = "8"> <CENTER>  <font color = "#3366FF">自我介</font><font color = "#3366FF">紹</font></h1></font></CENTER></font></b>
</div>
</body>
 <div><br>
        <h1>
        	<font size = "5"><font face = "DFKai-SB"><font color = "#3366FF">  
        		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我叫尹譔祺，今年21歲，來自香港，就讀靜宜大學企業管理系。我認為我是一個重視合作和熱情的人。我選擇到台灣留學是希望可以擴大自己的國際視野，學習其他新的東西。我在大三是曾擔任領頭羊及空手道社社長，擁有豐富的管理和項目經驗，曾舉辦多項活動，使得社員及大一新生參與，在進行這些活動策劃時學習到有效率的辦事方法以及磨練了個人的執行力，同時增進了團隊合作習慣。
曾學習過Python&HTML
聯絡方式:
Email:s1081961@gm.pu.edu.tw
電話:0926044244
        	</font></font>
        </h1>
  



</html>