<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職業生涯計劃</title>
</head>
<div class="jumbotron text-center">
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><font size = "8"><CENTER><font color = "#666666">職業生涯計劃</font></font></CENTER></b>
</div>
</body>
  
  <h1>
   <font face = "DFKai-SB">  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size = "7"><font color = "#666666">
<br>&nbsp;&nbsp;&nbsp;1.我曾經做過學校辦公室的工讀生,對職場實習內容感興趣,所以會有相關的實習規劃。
<br>&nbsp;&nbsp;&nbsp;2.對於日商我也相當感興趣,因此會增加日語能力的學習。
<br>&nbsp;&nbsp;&nbsp;3.另外我的英文閱寫能力也比較弱,也會有英文相關的補強學習。
<br>&nbsp;&nbsp;&nbsp;4.為了適合的專業職缺,也會增加相關的電腦語言學習。</font></font>
</h1>
<div>

</html>