<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>職業</title>
</head>

<div class="jumbotron text-center">
&nbsp;&nbsp;&nbsp;&nbsp;<b><font face = "DFKai-SB"><font size = "8"><CENTER> <font color = "#3366FF">職</font><font color = "#3366FF">業</font><h1></font></font></CENTER></b>
</div>

</body>
        <h1>
          <font face = "DFKai-SB"> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size = "5"> <font color = "#3366FF"> 
      公司介紹：~華南金控由臺灣指數股份有限公司納入「臺灣高薪100指數」及「臺灣就業99指數」成分股之一。民國七十七年八月成立專業證券經紀商。民國八十四年十二月上櫃掛牌。 目前資本額65億元，截至一百零九年三月止，共39個經紀機構及承銷據點遍佈全省。 本公司已與總資產逾3兆元以上、分行達186家之華南銀行共組金融控股集團， 提供客戶金融百貨化之專業整體服務。
經營理念
-穩健平實 -誠信服務 -研究創新</font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font color = "#000000"> 職務類別</b>
<br>&nbsp;&nbsp;&nbsp;軟體工程師  、 網站程式設計師 </font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font color = "#000000"> 工作內容</b>
<br>&nbsp;&nbsp;&nbsp;1.負責證券。
<br>&nbsp;&nbsp;&nbsp;2.期貨系統開發設計。
<br>&nbsp;&nbsp;&nbsp;3.以及程式撰寫。
<br>&nbsp;&nbsp;&nbsp;4.其他主管交辦事項。</font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font color = "#000000">要求條件</b>
<br>&nbsp;&nbsp;&nbsp;工作經驗: 不拘
<br>&nbsp;&nbsp;&nbsp;學歷限制:專科、大學
<br>&nbsp;&nbsp;&nbsp;科系限制:不拘
<br>&nbsp;&nbsp;&nbsp;附加條件：1.JAVA或C#或C++程式開發能力。
<br>&nbsp;&nbsp;&nbsp;2.MS-SQL。
<br>&nbsp;&nbsp;&nbsp;3.CSS、HTML、JavaScript、jQuery、AJAX等WEB技術。
<br>&nbsp;&nbsp;&nbsp;4.TANDEM COBOL程式設計。
<br>&nbsp;&nbsp;&nbsp;5.socket程式開發。
<br>&nbsp;&nbsp;&nbsp;6.HTML5/CSS3/JavaScript等前端技術及具響應式設計(RWD)經驗。
<br>&nbsp;&nbsp;&nbsp;7.ReactJs/VueJs/AngularJS中任一項前端框架。
<br>&nbsp;&nbsp;&nbsp;8.使用跨平台解決方案開發IOS/Android App。
<br>&nbsp;&nbsp;&nbsp;9.具備使用第三方服務及串接API能力。
<br>&nbsp;&nbsp;&nbsp;10.具開發後端應用程式及資料庫設計之能力。
<br>&nbsp;&nbsp;&nbsp;以上有興趣具經驗者佳，無經驗亦可。</font></font>
<br>&nbsp;&nbsp;
<br>&nbsp;&nbsp;&nbsp;<b><font size = "5"><font color = "#3366FF">我的履歷</b>
 <div><p align="left" >
<br>


<a href="#top">回到最上面</a>

</html>